#app {
    width: 100%;
    height: 100%;
}
#app #app2{
   text-align: center;
    font-size: 16rem;
}

#app .form{
    width: 80%;
}

#app .form .uploader{
    width: 50rem;
    height: 50rem;
}

#app .form .uploader .avatar{
    width: 50rem;
    height: 50rem;
    display: block;
}